
body {
  margin:0;
  font-family: 'Segoe UI', sans-serif;
  background: radial-gradient(circle at top, #ffe6f2, #ffffff);
  overflow-x:hidden;
}

button {
  padding:12px 24px;
  border-radius:30px;
  border:none;
  font-weight:bold;
  cursor:pointer;
  transition:0.3s ease;
}

button:hover {
  transform:scale(1.05);
}
